<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Apartment Data</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
 
    <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                Apartment Home
            </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Manage Apartments", "Index", "ManageApartments")</li>
                    <li>@Html.ActionLink("Bio", "Apartment")</li>
                    <li>@Html.ActionLink("Pics", "Apartment")</li>
                    <li>@Html.ActionLink("Portfolio", "Apartment")</li>
                </ul>
            </div>
        </div>
    </div>
        @RenderBody()
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
